[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Pinyes_511
Exec=/usr/bin/single-instance /opt/Pinyes_511/bin/Pinyes_511
Icon=/usr/share/icons/hicolor/80x80/apps/Pinyes_51180.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
